@import '../node_modules/bootstrap/scss/bootstrap.scss';

/* Color Variables */
$white: #ffffff;
$blue: #1976d2;
$green: #42A948;
$red: #a94442;
$gray: #292b2c;

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $gray;
    background-color: $white;
}

@media (min-width: 1200px) {
    .container {
        max-width: 768px;
        padding: 0px;
    }
}

header {
    background: $blue;
    color: $white;

    .container{
        padding-bottom: 10px;
        padding-top: 15px;
        
        a {
            color: $white;
        }
    }
}

main.container{
    padding-top: 100px;
    padding-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

p.result {
    font-size: 23px;
    margin: 0px;
}

.calculator-form {
    .alert.alert-danger {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .ng-valid.ng-touched:not(form)  {
        border: 1px solid $green;
    }

    .ng-invalid.ng-touched:not(form)  {
        border: 1px solid $red;
    }

    .submit-buttons {
        button {
            margin-left: 10px;
        }
    }
}